.float-left {
  float: left;
}
.float-right {
  float: right;
}
.btn-group {
  outline: none;
}
button:active,
button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
a:active,
a:focus {
  outline: none;
}
input,
textarea {
  outline: none;
}
input:active,
textarea:active {
  outline: none;
}
:focus {
  outline: none;
}
/* Header */
header .top-header {
  background: #1d1e20;
}
header .top-header .breaking-news {
  padding: 15px 0;
}
header .top-header .breaking-news .fq {
  background: url(../images/fq-icon.png) no-repeat center;
  display: block;
  float: left;
  height: 23px;
  width: 23px;
  position: relative;
  top: 0;
}
header .top-header .breaking-news .news-top-header {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  padding: 3px 0 0 30px;
  margin: 0;
}
header .top-header .date {
  float: left;
  padding: 10px 20px 10px 0;
}
header .top-header .date .btn-default {
  background: #242527;
  border: none;
  color: #c0c0c0;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  outline: none;
}
.fq {
  display: block;
  float: left;
  padding-right: 10px;
}
/* Social links */
.social {
  float: left;
  margin: 0;
  padding: 15px 12px;
  position: relative;
}
.social .social-item {
  float: left;
  list-style: none;
}
.social .social-item .dribbble,
.social .social-item .facebook,
.social .social-item .google,
.social .social-item .rss,
.social .social-item .twitter {
  color: #818181;
  padding: 8px;
}
.social .social-item .dribbble:hover,
.social .social-item .facebook:hover,
.social .social-item .google:hover,
.social .social-item .rss:hover,
.social .social-item .twitter:hover {
  background: #325c94;
  border-radius: 5px;
  color: #ffffff;
  padding: 8px;
}
.social:after {
  background: url(../images/border-social.jpg);
  clear: both;
  content: "";
  display: table;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
}
.social:before {
  background: url(../images/border-social.jpg);
  clear: both;
  content: "";
  display: table;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
}
/* Language icon */
.lang {
  border: none;
  display: inline-block;
  left: 20px;
  top: 12px;
}
.container-lang {
  background-color: rgba(34, 34, 34, 0.8);
  min-width: 65px;
}
.container-lang li a:hover {
  background-color: rgba(40, 40, 40, 0.5);
}
.lang:hover {
  background: #27292e;
}
.main-header {
  background: #fff;
  padding: 35px 0;
}
.main-header .logo {
  padding-top: 20px;
}
.main-header .logo .slogan {
  color: #777777;
  font-family: Roboto, sans-serif;
}
/* Navigation */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background: #e84a4a;
  border-radius: 0;
}
nav {
  border-bottom: 2px solid #e84a4a;
  background: #1d1e20;
}
nav ul li a {
  color: #dddddd;
  font-family: Roboto, sans-serif;
  font-size: 19px;
}
.nav-pills li a {
  padding: 20px;
}
.nav-pills li a:hover {
  background: #e84a4a;
  border-radius: 0;
  color: #fff;
}
/* Dropdown menu */
.main-menu-dropdown {
  background: #1d1e20;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  min-width: 170px;
  z-index: -1;
}
.main-menu-dropdown li {
  list-style: none;
}
.main-menu-dropdown li a {
  color: #dadada;
  display: block;
  font-size: 12px;
  padding: 15px;
}
.main-menu-dropdown li a:hover {
  text-decoration: none;
}
.dropdown:hover .main-menu-dropdown {
  opacity: 1;
  z-index: 1;
}
/* Search */
.navbar-nav .navbar-right:hover,
.navbar-nav .navbar-right:focus {
  background: green;
}
.navbar-nav .search-btn {
  padding: 6px 5px;
}
.navbar-nav .search-btn a {
  background-color: #242527;
  border-radius: 5px;
  display: block;
  padding: 14px;
}
.navbar-nav .search-btn .search-form {
  background-color: #1D1E20;
  width: 220px;
  padding: 10px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background: #e84a4a;
  color: #fff;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: transparent;
}
