.float-left {
	float: left;
}
.float-right {
	float: right;
}
.btn-group  {
	outline: none;
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
a:active, a:focus { 
	outline: none; 
}
a:hover {
	cursor: pointer;
	color: #e84a4a;
	text-decoration: none;
}
input, textarea {
	outline:none;
}
input:active, 
textarea:active {
	outline:none;
}
:focus {
	outline:none;
}
@white: #fff;
@font-family: Roboto, sans-serif;
/* Clearfix */
.col-top-right:after,
.post-of-the-day:after,
.advertising-img-small-wrap:after,
ul.posts li:after {
    clear: both;
    display: table;
    content: "";
}
/* Header */
header {
	.top-header {
		background: #1d1e20;
		.breaking-news{
			padding: 13px 0;
			float: left;
			.fq {
				background: url(../images/fq-icon.png) no-repeat center;
				display: block;
				float: left;
				height: 23px; 
				width: 23px;
			    position: relative;
    			top: 0;
				}
				.news-top-header {
					color: @white;
					font-family: @font-family;
					font-size: 12px;
				    padding: 2px 0 5px 30px;
    				margin: 0;
				}
		}
		.date {
			.float-left;
			padding: 10px 20px 10px 0;
			.btn-default {
				background: #242527;
				border: none;
				color: #c0c0c0;
				font-family: @font-family;
				font-size: 12px;
				outline: none;
			}
		}
	}
}
.fq {
	display: block;
	float: left;
	padding-right: 10px;
}
.col-top-right {
	.float-right 
}
/* Social links */
.social {
    float: left;
    margin: 0;
    padding: 15px 12px;
    position:  relative;
    .social-item {
		.float-left;
		list-style: none;
		.dribbble,
		.facebook,
		.google,
		.rss, 
		.twitter {
			color: #818181;
			padding: 8px;
		}
		.dribbble:hover,
		.facebook:hover,
		.google:hover,
		.rss:hover, 
		.twitter:hover {
			background: #325c94;
			border-radius: 5px;
			color: @white;
			padding: 8px;
		}
	}

}
.social:after {
	background: url(../images/border-social.jpg);
    clear: both;
    content: "";
    display: table;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
}
.social:before {
	background: url(../images/border-social.jpg);
    clear: both;
    content: "";
    display: table;
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
}
/* Language icon */
.lang {
    border: none;
    display: inline-block;	
    a {
    	display: block;
    	padding: 15px;
    }		    
}
.container-lang {
		background-color: rgba(34, 34, 34, 0.8);
		border-radius: 0;
		border: 0;
		margin: 0;
		min-width: 65px;
		padding: 2px 0;
    	li {
    	a {
		&:hover {
    		background-color: rgba(40, 40, 40, 0.5);
    		}
    	}
    	
    }
}
.open > .dropdown-menu {
	top: 47px;
}
.lang:hover {
	background: #27292e;
}
.main-header {
	background: #fff;
	padding: 35px 0;
	.logo {
		padding-top: 20px;
		.slogan {
			color: #777777;
			font-family: @font-family;
		}
	}
}
/* Navigation */
.navbar-nav > li.active > a,
.navbar-nav > li.active > a:hover,
.navbar-nav > li.active > a:focus {
	background: #e84a4a;
    border-radius: 0; 
    padding: 16px 18px;
}
nav {
    border-bottom: 2px solid #e84a4a;
    background: #1d1e20;
	ul {
		li {
			a {
				color: #dddddd;
				font-family: @font-family;
				font-size: 19px;
				
			}
	
		}
	} 
}
.navbar-nav li a {
	padding: 16px 18px;
	line-height: 1.5;
	&:hover {
		background: #e84a4a;
		border-radius: 0;
		color: #fff;
	}
}
/* Dropdown menu */
.main-menu-dropdown {
	background: #1d1e20;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
    min-width: 170px;
    z-index: -1;
	li {
		list-style: none;
		a {
			color: #dadada;
			display: block;
			font-size: 12px;
			padding: 15px;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.main-menu-dropdown li:after {
	clear:both;
	content: "";
	display: table;
	background: url(../images/sub-menu-border.jpg) repeat-x;
	width: 100%;
	height: 2px;
}
.dropdown:hover .main-menu-dropdown {
	opacity: 1;
	z-index: 1;
}
/* Search */
.navbar-nav {
	.navbar-right {
		&:hover,
		&:focus {
			background: green;
		}
	}
	.search-btn {
	 	a {
		    background-color: #242527;
		    border-radius: 5px;
		    display: block;
		    padding: 14px;
	    }

	}
}
.open > .dropdown-menu {
    top: 50px;
    background-color: #1D1E20;
    padding: 6px;

}
.search-btn {
	float: left;
	.search-link {
		padding: 16px 18px;
		line-height: 1.5;
	}
}
.nav > li > a:hover,
.nav > li > a:focus {
	background: #e84a4a;
	color: #fff;
}
.nav .open > a, 
.nav .open > a:hover,
.nav .open > a:focus {
	background: transparent;
}
/* Section content */
.content {
	margin-top: 50px;
}
/* Social share */
.twitter-share,
.facebook-share,
.dribbble-share,
.rss-share {
	display: inline-block;
	height: 45px;
	width: 51px;
}
.twitter-share {
	background: url(../images/twitter.png) no-repeat center;
}
.facebook-share {
	background: url(../images/facebook.png) no-repeat center;
}
.dribbble-share {
	background: url(../images/dribbble.png) no-repeat center;
}
.rss-share {
	background: url(../images/rss.png) no-repeat center;
}
.social-share-item {
    display: inline-block;
    position: relative;
    padding-bottom: 20px;
    width: 100px;
    .count {
		left: 60px;
		position: absolute;
		top: 3px;
    }
}
.mg {
	margin-right: 40px;
}
/* Advertising */
.advertising-img-big {
	padding:0 0 20px 15px;
}
.advertising-img-small-wrap {
    padding: 0 15px;
}
.advertising-img-small-left {
	.float-left;
}
.advertising-img-small-right {
	.float-right;
}
/* Widget Whats hot */
.hot-news {
	padding-bottom: 20px;
}
.title-link {
	color: #585858;
    font-size: 15px;
    display:block;
    padding-bottom: 10px;
    &:hover {
    	color: #e84a4a;
    	text-decoration: none;
    }
}
.whats-hot-widget h3 {
	.video-widget-title;
    margin-bottom: 30px;

}
.whats-hot-indicators {
	position: absolute;
    bottom: -4px;
    left: 100%;
    width: 75px;
    li {
    	&:hover {
    	background: #fff;
    	}
    }
}
.whats-hot-img {
	background: #787878;
	display: block;
	height: 70px;
	position: relative;
	width: 70px;
	&:hover {
		background: #222 url(../images/inner-arrow.png) no-repeat center;
		opacity: 0.8;
	}
	span {
		background-color: #e84a4a;
		bottom: -2px;
		color: #fff;
		display: inline-block;
		font-size: 12px;
		height: 20px;
		left: -2px;
		padding: 3px 1px 0 0;
		position: absolute;
		text-align: center;
		width: 20px;
	}

}
.comments-time {
	color: #a3abaf;
	font-size: 14px;
    .float-left;
    padding-right: 15px;
}
.widget-rating {
	.float-left;
	&:hover {
		background: #000;
	}
}
.widget-rating p {
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 0 9px 0 0px!important;
}
/* Slider */
.container .jumbotron {
	border-radius: 0;
	background: #787878;
	position: relative;
	height: 380px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	p {
		font-size: 13px;
		margin: 0;
	}
}
.tab {
	padding: 21px 27px 20px 23px;
	background: #1d1e20;
	color: #8a8a8a;
	display: block;
	line-height: 2;
	border-bottom: 1px solid #363636;

	h2 {
		font-size: 16px;
		color: #fff;
		margin: 0;
	}
	&:hover {
		text-decoration: none;
		cursor: pointer;
		color: #8a8a8a;
		background: transpared;
	}
}
.tab-wrapper {
	width: 330px;
	float: right;
	overflow: hidden;
	padding-left: 30px
}
.tab {
	background: #1d1e20;
}
.tab h2 {
	font-weight: bold;
}
.tab-active {
	background: #252527;
	color: #8b8b8b;
	display: block;
	position: relative;
}
.tab-active:before {
    clear: both;
    content: "";
    display: block;
    background:url(../images/active-tab.png);
    height: 30px;
    width: 9px;
    position: absolute;
    top: 45px;
    left: -9px;
    z-index: 10;
}
.tab-active h2{
	color: #e84a4a;
	font-weight: bold;
	
}
.info-slider {
    bottom: 12px;
    display: inline-block;
    left: 12px;
    max-width: 150px;
    position: absolute;
    font-size: 14px;
    color: #fff;
}
.rating	{
	background: #f2b620;
	line-height: 1.5;
	img {
		padding: 5px;
		float: left;
	}
	p {
		padding: 2px 0 2px 20px;
	}
}
.no-rating {
	display: none;
}
.cat {
	background: #4a7ee8;
	padding: 9px;
}
/* Video Widget */
.video-widget-title {
	margin-bottom: 30px;
	background: #1d1e20;
	color: #fff;
	font-size: 18px;
	padding: 6px 0 6px 15px;
	position: relative;
	
}
.arrow-video-widget {
		position: absolute;
		top: 31px;
		left: 20px;
}
.html5-video-container {
	border: 1px solid #f3f4f4;
}
/* Section Post of the day */

.img-post-of-the-day {
	display: block;
	background: #b9b9b9;
	width: 270px;
	height: 225px;
	float: left;
	margin-right: 20px;
	position: relative;
}
.page-header {
	border: none;
}
.post-of-the-day-title {
	.video-widget-title;
	background: #f55a5a;
}

.cat-article {
	background: #1d1e20;
    color: white;
    display: inline-block;
    left: 223px;
    padding: 5px 8px;
    position: absolute;
    top: 98px;
}
p {
color: #585858;
font-size: 15px;
}
	

.page-header h2 {
	color: #475055;
	font-size: 24px;
}
time,
.comments {
	color: #a3abaf;
	font-size: 14px;
}

/* Calendar */
.datepicker-container {
	width: 259px;
	padding-top: 30px;
	margin: auto;
}
.datepicker-header {
	position: relative;
    padding-bottom: 3px;
}
.ui-datepicker-calendar td {
	background: #EEEEEE;
    border: 1px solid #FFFFFF;
    padding: 7px 10px;
    text-align: center;
}
.ui-datepicker-title {
	background: #3d7cb7;
	color: #fff;
	font-size: 15px;
	text-align: center;
	padding: 5px 0;
	position: relative;
}
.ui-datepicker-prev {
    background: url(../images/prew-arrow.png) no-repeat center;
    display: inline-block;
    height: 10px;
    left: 40px;
    position: absolute;
    top: 12px;
    width: 6px;
    z-index: 1
}
.ui-datepicker-next {
	background: url(../images/next-arrow.png) no-repeat center;
    display: inline-block;
    height: 10px;
    right: 40px;
    position: absolute;
    top: 12px;
    width: 6px;
    z-index: 1;
}
td.today {
	background: #e84a4a;
	color: #fff;
}
/* Lifestyle section */
.lifestyle {
	position: relative;
	.arrow-lifestyle {
		.arrow-video-widget;
	}
}
.title-blue {
	margin: 0;
	h3 {
		.video-widget-title;
		background: #00b4ff;
	}
	
}
.lifestyle-indicators {
    height: 20px;
    left: 82%;
    margin: 0;
    position: absolute;
    top: 26px;
    width: 60px;
}
.lifestyle-indicators li {
	&:hover {
		background: #fff;
	}
}
.lifestyle-indicators .active {
	width: 10px;
	height: 10px;
	margin: 1px;
}
.rss-icon {
	position: absolute;
    color: #fff;
    font-size: 16px;
    right: 30px;
    top: 25px;
}
.lifestyle-post {
	width: 289px;
}

.img-lifestyle-post {
	display: block;
    background-color: #ccc;
    height: 175px;
    width: 280px;
}
.lifestyle-title {
	margin: 20px 0 25px 0;
	padding: 0;

	h2 {
		color: #475055;
		background: none;
		font-size: 24px;
		padding: 0 0 18px 0;
		margin: 0;
	}

}

ul.posts {
	padding: 0 0 0 15px;

li {
    list-style: none;
    border-bottom: 1px dashed #ECECEC;
    padding: 15px 0;
    &:last-child {
    	border: none;
    }
    &:first-child {
	    padding: 0 0 15px 0;
    }
    h2 {
    	font-size: 14px;
    	margin: 0 0 20px 0
    }
    a {
    	color: #475055;
    	&:hover {
    		color: #e84a4a;
    	}
    }
}
}

a.posts-img {
    display: block;
    height: 70px;
    width: 70px;
    background-color: #ccc;
    float: left;
    margin-right: 20px;
}
.meta{
	font-size: 10px;
	color: #a3abaf;
}

.meta-comments {
	.meta;
	&:hover {
		color: #e84a4a;

	}

}